/* --color-primary-0: #408e2f;
  --color-primary-1: #9ad58e;
  --color-primary-2: #68b159;
  --color-primary-3: #216a12;
  --color-primary-4: #0c4700;
  --color-secondary-1-0: #832c65;*/
$color-secondary-1-1: #c583ae;
/* --color-secondary-1-2: #a45287;
  --color-secondary-1-3: #621046;*/
$color-secondary-1-4: #42002b;
/*--color-secondary-2-0: #aa6839;*/
$color-secondary-2-1: #ffcdaa;
/*--color-secondary-2-2: #d4966a;
  --color-secondary-2-3: #804115;*/
$color-secondary-2-4: #552300;

body {
  height: 100vh;
  @include xy-grid-container;
  @include flex;
  @include flex-direction(column);
  @include flex-align(null, middle);

  background-image: linear-gradient(315deg, #68b159f0, #9ad58ef0),
    url("/images/cs-883x432.jpg");
  background-size: cover;
}

body > *,
section > * {
  @include xy-cell(shrink);
}

nav {
  margin-top: auto;
}

section {
  @include flex;
  @include flex-direction(column);
  @include flex-align(null, middle);
  margin-bottom: auto;
  background-color: $color-secondary-1-1;
  color: $color-secondary-1-4;
  height: 0;
}

button {
  @include button();
}

header {
  @include flex;
  @include flex-align(center, middle);
  column-gap: 2em;
}

pre {
  @include code-block;
}
