* {
  box-sizing: border-box;
}

body,
nav,
section,
header {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
  column-gap: 2em;
}

body {
  margin: 0;
  height: 100vh;
  flex-direction: column;
}

nav {
  justify-content: center;
  column-gap: 0.5ch;
  margin-top: auto;
  align-items: baseline;
}

section {
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}
