* {
  box-sizing: border-box;
  color: #42002b;
  background-color: #68b159;
}

::selection, option:checked{
  background-color:#0c4700;
  color: #ffcdaa;
}

option:hover{
  background-color:#0c4700 ;
}

:focus{
  outline-color: #ffcdaa;
}

select,select>*,
button {
  background-color: #aa6839;
  border-color: #804115;
  color:#ffcdaa;
  fill: #552300;
  flood-color: #552300;
  stop-color: #552300;
  lighting-color: #ffcdaa;
}

body,
nav,
section,
header {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
  column-gap: 2em;
}

body {
  margin: 0;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(315deg,#68b159f0, #9ad58ef0),url("/images/cs-883x432.jpg");
   background-size: cover;
}

nav {
  justify-content: center;
  column-gap: 0.5ch;
  margin-top: auto;
  align-items: baseline;
}

section {
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.color-primary-0 {
  color: #408e2f;
} /* Main Primary color */
.color-primary-1 {
  color: #9ad58e;
}
.color-primary-2 {
  color: #68b159;
}
.color-primary-3 {
  color: #216a12;
}
.color-primary-4 {
  color: #0c4700;
}

.color-secondary-1-0 {
  color: #832c65;
} /* Main Secondary color (1) */
.color-secondary-1-1 {
  color: #c583ae;
}
.color-secondary-1-2 {
  color: #a45287;
}
.color-secondary-1-3 {
  color: #621046;
}
.color-secondary-1-4 {
  color: #42002b;
}

.color-secondary-2-0 {
  color: #aa6839;
} /* Main Secondary color (2) */
.color-secondary-2-1 {
  color: #ffcdaa;
}
.color-secondary-2-2 {
  color: #d4966a;
}
.color-secondary-2-3 {
  color: #804115;
}
.color-secondary-2-4 {
  color: #552300;
}
